table {
  border: 5px solid;
}
  
.red {
  background-color: red;
  height: 100px;
  width: 1450px;
}

.white{
  background-color: white;
  height: 100px;
  width: 100%;
}
  
img {
  position: absolute;
  padding-left: 5px;
  padding-top: 5px;
  height: 728px;
  width: 728px;
}